/**
 * Markup for the BuddyPress wp-admin screens.
 */
.bpa-nav-logo:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.bpa-header, .bpa-header a {
  color: #FFF; }

.bpa-nav-logo a {
  font-size: 20px;
  text-decoration: none;
  vertical-align: middle; }
.bpa-nav-logo:before {
  content: "\f448";
  font: normal 30px/1 'dashicons';
  vertical-align: middle; }

.bpa-button {
  color: #FFF;
  font-size: 12px;
  text-decoration: none; }
  .bpa-button:hover {
    background-color: #FFF;
    color: #D84800; }

.bpa-button-activity h3 {
  text-transform: uppercase; }

*, *:before, *:after {
  box-sizing: border-box; }

#wpcontent {
  margin-left: 160px;
  padding: 0; }

#wpfooter {
  display: none; }

#wpbody {
  background-color: #FAFAED; }

#wpbody-content {
  background-color: #D84800; }

.bpa-header {
  width: 100%; }
  .bpa-header:after {
    clear: both;
    content: "";
    display: table; }

.bpa-nav {
  float: left;
  margin: 0;
  padding: 0 15px;
  width: 100%;
  text-align: right; }
  .bpa-nav li {
    display: inline-block;
    margin: 0 5px 0 0;
    line-height: 60px;
    text-align: left; }
    .bpa-nav li:after {
      clear: both;
      content: "";
      display: table; }
    .bpa-nav li:last-child {
      margin-right: 0; }
    .bpa-nav li .bpa-button {
      border-radius: 2px;
      padding: 5px 10px;
      transition: all 0.2s ease;
      vertical-align: middle; }
  .bpa-nav .bpa-nav-logo {
    float: left; }
  .bpa-nav .bpa-nav-support {
    margin-right: 60px; }

.bpa-card {
  width: 70%;
  margin: 15px auto;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  text-align: justify;
  background-color: #FAFAED;
  z-index: 10; }
  .bpa-card :first-child {
    margin-top: 0; }
  .bpa-card :last-child {
    margin-bottom: 0; }

.bpa-button-major {
  display: inline-block;
  background-color: #FAFAED;
  padding: 5px 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px; }
  .bpa-button-major h3 {
    margin: 0; }
  .bpa-button-major p {
    margin: 0; }
  .bpa-button-major:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.bpa-button-major-icon {
  display: inline-block;
  margin-right: 5px;
  width: 50px;
  vertical-align: middle; }
  .bpa-button-major-icon:before {
    font: normal 50px/1 'dashicons';
    vertical-align: middle; }

.bpa-button-major-contents {
  display: inline-block;
  vertical-align: middle; }

.bpa-buttons {
  text-align: center; }
  .bpa-buttons a {
    color: inherit; }

.bpa-elevator-pitch {
  margin: 70px auto 50px;
  color: white;
  width: 70%; }
  .bpa-elevator-pitch h1 {
    font-weight: 100;
    text-align: center;
    line-height: 50px; }

.bpa-button-activity {
  margin-right: 15px; }
  .bpa-button-activity .bpa-button-major-icon:before {
    content: "\f452"; }

.bpa-button-xprofile .bpa-button-major-icon:before {
  content: "\f336"; }
