/**
 * Markup for the BuddyPress wp-admin screens.
 */
.bp-admin .bpa-header {
  -webkit-font-smoothing: antialiased; }

.bpa-header, .bpa-header a {
  color: #fff; }

.bpa-header-logo a {
  font-size: 20px;
  text-decoration: none;
  vertical-align: middle; }
.bpa-header-logo:before {
  content: "\f448";
  font: normal 30px/1 'dashicons';
  vertical-align: middle; }

.bpa-button {
  color: #fff;
  text-decoration: none; }
  .bpa-button:hover {
    background-color: #fff;
    color: #D84800; }

*, *:before, *:after {
  box-sizing: border-box; }

#wpcontent {
  margin-right: 160px;
  padding: 0; }

#wpfooter {
  display: none; }

/**
 * Common header/navigation.
 */
.bpa-header {
  width: 100%;
  background-color: #D84800;
  height: 175px; }
  .bpa-header:after {
    clear: both;
    content: "";
    display: table; }

.bpa-nav {
  float: right;
  margin: 0;
  padding: 0 15px;
  width: 100%;
  text-align: left; }
  .bpa-nav li {
    display: inline-block;
    margin: 0 0 0 5px;
    line-height: 60px;
    text-align: right; }
    .bpa-nav li:after {
      clear: both;
      content: "";
      display: table; }
    .bpa-nav li:last-child {
      margin-left: 0; }
    .bpa-nav li .bpa-button {
      border: 1px solid #fff;
      border-radius: 3px;
      padding: 5px;
      transition: all 0.2s ease;
      vertical-align: middle; }
  .bpa-nav .bpa-header-logo {
    float: right;
    width: 200px; }

.bpa-card {
  width: 75%;
  margin: 0 auto; }
