/**
 * CSS loaded in the new style BP wp-admin dashboard screens.
 *
 * @since BuddyPress (2.2.0)
 */

.clearfix:before,
.clearfix:after {
	clear: both;
	content: " ";
	display: table;
}
.bpa-width-full {
	width: 100%;
}
#wpcontent {
	margin-left: 160px;
	padding: 0;
}

.bpa-header-logo:before {
	content: "\f448";
	font: normal 30px/1 'dashicons';
}

.bpa-nav li {
	display: inline-block;
	margin-right: 10px;
}
.bpa-nav li:last-child {
	margin-right: 0;
}
