/**
 * Markup for the BuddyPress wp-admin screens.
 */
.bpa-nav-logo:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.bpa-header, .bpa-header a {
  color: #FFF; }

.bpa-nav-logo a {
  font-size: 20px;
  text-decoration: none;
  vertical-align: middle; }
.bpa-nav-logo:before {
  content: "\f448";
  font: normal 30px/1 'dashicons';
  vertical-align: middle; }

.bpa-button {
  color: #FFF;
  font-size: 12px;
  text-decoration: none; }
  .bpa-button:hover {
    background-color: #FFF;
    color: #D84800; }

*, *:before, *:after {
  box-sizing: border-box; }

#wpcontent {
  margin-left: 160px;
  padding: 0; }

#wpfooter {
  display: none; }

#wpbody {
  background-color: #FAFAED; }

.bpa-header {
  width: 100%;
  background-color: #D84800;
  height: 175px; }
  .bpa-header:after {
    clear: both;
    content: "";
    display: table; }

.bpa-nav {
  float: left;
  margin: 0;
  padding: 0 15px;
  width: 100%;
  text-align: right; }
  .bpa-nav li {
    display: inline-block;
    margin: 0 5px 0 0;
    line-height: 60px;
    text-align: left; }
    .bpa-nav li:after {
      clear: both;
      content: "";
      display: table; }
    .bpa-nav li:last-child {
      margin-right: 0; }
    .bpa-nav li .bpa-button {
      border: 1px solid #FFF;
      border-radius: 3px;
      padding: 5px;
      transition: all 0.2s ease;
      vertical-align: middle; }
  .bpa-nav .bpa-nav-logo {
    float: left; }
  .bpa-nav .bpa-nav-support {
    margin-right: 15px; }

.bpa-cards {
  position: relative;
  top: -97px; }

.bpa-card {
  width: 75%;
  margin: 0 auto 15px;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #FFF;
  z-index: 10; }
  .bpa-card :first-child {
    margin-top: 0; }
  .bpa-card :last-child {
    margin-bottom: 0; }
