/**
 * Markup for the BuddyPress wp-admin screens.
 */
.bpa-nav-logo:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.bpa-header, .bpa-header a {
  color: #FFF; }

.bpa-nav-logo a {
  font-size: 19px;
  text-decoration: none;
  vertical-align: middle; }
.bpa-nav-logo:before {
  content: "\f448";
  font: normal 30px/1 'dashicons';
  vertical-align: middle; }

.bpa-button {
  color: #FFF;
  font-size: 13px;
  text-decoration: none; }
  .bpa-button:hover {
    background-color: #FFF;
    color: #D84800;
    border-bottom: 0 !important; }

.bpa-button-activity h3 {
  text-transform: uppercase; }

*, *:before, *:after {
  box-sizing: border-box; }

#wpcontent {
  margin-right: 160px;
  padding: 0; }

#wpfooter {
  display: none; }

#wpbody {
  background-color: #FAFAFA; }

@media screen and (max-width: 782px) {
  .auto-fold #wpcontent {
    padding-right: 0; } }

.bpa-header {
  width: 100%; }
  .bpa-header:after {
    clear: both;
    content: "";
    display: table; }

.bpa-nav {
  background-color: #D84800;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 46px; }
  .bpa-nav li {
    display: inline-block;
    margin: 0 0 0 10px;
    line-height: 46px;
    text-align: right; }
    .bpa-nav li:after {
      clear: both;
      content: "";
      display: table; }
    .bpa-nav li:last-child {
      margin-left: 0; }
    .bpa-nav li .bpa-button {
      border-radius: 2px;
      padding: 10px;
      transition: all 0.2s ease;
      vertical-align: middle; }
  .bpa-nav .bpa-nav-docs, .bpa-nav .bpa-nav-support {
    display: none; }
  .bpa-nav .bpa-nav-logo {
    float: right; }
    .bpa-nav .bpa-nav-logo a {
      display: none; }

/**
 * Small screens: Unhide the BP toolbar item.
 *
 * The selector weight is required to override wp-admin's CSS, and
 * most of these styles have also been copied from wp-admin's CSS.
 */
@media screen and (max-width: 782px) {
  #wpcontent #wpadminbar #wp-admin-bar-bp-about {
    display: block; }
    #wpcontent #wpadminbar #wp-admin-bar-bp-about > .ab-item {
      color: #999;
      padding: 0;
      position: relative;
      width: 52px; }
      #wpcontent #wpadminbar #wp-admin-bar-bp-about > .ab-item .ab-icon {
        height: 46px;
        padding: 0;
        text-align: center;
        vertical-align: top;
        width: 52px; }
        #wpcontent #wpadminbar #wp-admin-bar-bp-about > .ab-item .ab-icon:before {
          color: #D84800;
          font: 28px/1 'dashicons' !important;
          top: -3px; }
  .bpa-header {
    display: none; } }

@media only screen and (min-width: 783px) {
  .bpa-nav {
    float: right;
    height: auto;
    padding: 0 15px;
    text-align: left; }
    .bpa-nav li {
      line-height: 61px; }
    .bpa-nav .current-menu-item a {
      border-bottom: 2px solid #FD5400; }
    .bpa-nav .bpa-nav-logo a {
      display: inline; }
    .bpa-nav .bpa-nav-docs, .bpa-nav .bpa-nav-support {
      display: inline-block; }
    .bpa-nav .bpa-nav-support {
      margin-left: 60px; } }

.bpa-panel {
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #D84800;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #bf4000; }
  .bpa-panel h1 {
    font-size: 19px;
    font-weight: 100;
    line-height: 1.6;
    margin: 64px 0 0;
    color: #FFF; }

@media only screen and (min-width: 783px) {
  .bpa-panel {
    background-color: #FD5400;
    border-bottom: 1px solid #e44800; } }

.bpa-content {
  padding: 15px;
  background-color: #FAFAFA;
  color: #212121; }
  .bpa-content h2 {
    color: #727272;
    margin-top: 30px; }
    .bpa-content h2:first-child {
      margin-top: 0; }
  .bpa-content p {
    font-size: 14px; }

.bpa-button-major {
  display: inline-block;
  background-color: #FAFAFA;
  padding: 5px 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px; }
  .bpa-button-major h3 {
    margin: 0; }
  .bpa-button-major p {
    margin: 0; }
  .bpa-button-major:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.bpa-button-major-icon {
  display: inline-block;
  margin-left: 5px;
  width: 50px;
  vertical-align: middle; }
  .bpa-button-major-icon:before {
    font: normal 50px/1 'dashicons';
    vertical-align: middle; }

.bpa-button-major-contents {
  display: inline-block;
  vertical-align: middle;
  text-align: right; }

.bpa-buttons {
  text-align: center; }
  .bpa-buttons a {
    color: inherit; }

@media only screen and (min-width: 783px) { }

.bpa-button-activity {
  margin-left: 15px; }
  .bpa-button-activity .bpa-button-major-icon:before {
    content: "\f452"; }

.bpa-button-xprofile .bpa-button-major-icon:before {
  content: "\f336"; }

.bpa-credits {
  margin: 15px auto;
  padding: 15px;
  background-color: #FAFAFA; }
  .bpa-credits h3 {
    margin-top: 0; }

.bpa-people {
  display: inline-block;
  margin: 0; }
  .bpa-people:after {
    clear: both;
    content: "";
    display: table; }
  .bpa-people :last-child {
    margin-left: 0; }
    .bpa-people :last-child:after {
      clear: both;
      content: "";
      display: table; }

.bpa-person {
  margin: 0 0 15px 15px;
  padding: 0;
  float: right;
  width: 230px; }
  .bpa-person img {
    border-radius: 100%;
    margin-left: 5px; }
  .bpa-person > a + a {
    display: block; }

.bpa-person-details a {
  display: block; }

@media only screen and (min-width: 783px) {
  .bpa-credits {
    width: 70%; } }
