.bpa-card {
	width: 70%;
	margin: $cards-margin auto;
	padding: $cards-margin;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	text-align: justify;
//	background-color: $color-background;
	z-index: 10;

	:first-child {
		margin-top: 0;
	};

	:last-child {
		margin-bottom: 0;
	}
}

