.bpa-elevator-pitch {
	margin: 50px auto 50px;
	color: white;
	width: 70%;

	h1 {
		font-weight: 100;
		text-align: center;
		line-height: 42px;
		margin: 0;
	}
}

.bpa-button-activity {
	margin-right: $cards-margin;

	.bpa-button-major-icon {
		&:before {
			content: "\f452";
		}
	}
}

.bpa-button-xprofile {
	.bpa-button-major-icon {
		&:before {
			content: "\f336";
		}
	}
}

.bpa-credits {
	margin: $cards-margin auto;
	padding: $cards-margin;
	width: 70%;
	background-color: $color-background;

	h3 {
		margin-top: 0;
	}
}

.bpa-people {
	display: inline-block;
	margin: 0;

	&:after { @include clearfix(); }

	:last-child {
		margin-right: 0;
		&:after { @include clearfix(); }
	}
}

.bpa-person {
	margin: 0 $credits-margin $credits-margin 0;
	padding: 0;
	float: left;
	width: 230px;

	img {
		border-radius: 100%;
		margin-right: 5px;
		//box-shadow: rgb(255, 0, 255) 0px 0px 5px 2px;
	}

	> a + a {
		display: block;
	}
}

.bpa-person-details {
	a {
		display: block;
	}
}