.bpa-elevator-pitch {
	margin: 50px auto 50px;
	color: white;
	width: 70%;

	h1 {
		font-weight: 100;
		text-align: center;
		line-height: 42px;
		margin: 0;
	}
}

.bpa-button-activity {
	margin-right: $cards-margin;

	.bpa-button-major-icon {
		&:before {
			content: "\f452";
		}
	}
}

.bpa-button-xprofile {
	.bpa-button-major-icon {
		&:before {
			content: "\f336";
		}
	}
}

.bpa-credits {
	background-color: $color-background;
	text-align: center;
}

.bpa-person {
	display: inline-block;
	margin: 0 $credits-margin 0 0;
	padding: 0;
	width: 280px;

	img {
		border-radius: 100%;
		margin-right: 5px;
	}
}

.bpa-person-details {
	display: inline-block;

	a {
		display: block;
	}
}