.bpa-nav {
	background-color: $color-secondary;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 46px;

	li {
		display: inline-block;
		margin: 0 $margin-nav-bar 0 0;
		line-height: 46px;
		text-align: left;

		&:after { @include clearfix(); }
		&:last-child {
			margin-right: 0;
		}

		.bpa-button {
			border-radius: 2px;
			padding: $margin-nav-bar;
			transition: all 0.2s ease;
			vertical-align: middle;
		}
	}

	.bpa-nav-docs,
	.bpa-nav-support {
		display: none;
	}

	.bpa-nav-logo {
		float: left;

		a { display: none; }
	}
}


/**
 * Small screens: Unhide the BP toolbar item.
 *
 * The selector weight is required to override wp-admin's CSS, and
 * most of these styles have also been copied from wp-admin's CSS.
 */
@media screen and (max-width: 782px) {
	#wpcontent #wpadminbar #wp-admin-bar-bp-about {
		display: block;

		> .ab-item {
			color: #999;
			padding: 0;
			position: relative;
			width: 52px;

			.ab-icon {
				height: 46px;
				padding: 0;
				text-align: center;
				vertical-align: top;
				width: 52px;

				&:before {
					color: $color-secondary;
					font: 28px/1 'dashicons' !important;
					top: -3px;
				}
			}
		}
	}

	// Hide the BP nav bar.
	.bpa-header {
		display: none;
	}
}



// Small + large tablets
@media only screen and (min-width: 783px) {
	.bpa-nav {
		float: left;
		height: auto;
		padding: 0 ($margin-nav-bar * 1.5);
		text-align: right;

		li {
			line-height: 61px;
		}

		.current-menu-item a {
			//border-bottom: $ink-width solid $color-secondary-contrast;
		}

		.bpa-nav-logo {
			a { display: inline; }
		}

		.bpa-nav-docs,
		.bpa-nav-support {
			display: inline-block;
		}

		.bpa-nav-support {
			margin-right: 40px;
		}
	}
}
