.bpa-nav {
	background-color: $color-complementary;
	float: left;
	margin: 0;
	padding: 0 ($margin-nav-bar * 1.5);
	width: 100%;
	text-align: right;

	li {
		display: inline-block;
		margin: 0 $margin-nav-bar 0 0;
		line-height: 60px;
		text-align: left;

		&:after { @include clearfix(); }
		&:last-child {
			margin-right: 0;
		}

		.bpa-button {
			border-radius: 2px;
			padding: $margin-nav-bar;
			transition: all 0.2s ease;
			vertical-align: middle;
		}
	}

	.bpa-nav-logo {
		background-color: $color-major;
		float: left;
		padding: 0 $margin-nav-bar;
	}

	.bpa-nav-support {
		margin-right: 60px;
	}
}


/**
 * RESPONSIVE MAGIC
 *
 * The base CSS is for phone-sized devices.
 *
 * Small tablets = 783px+ wide  (matches a breakpoint in wp-admin).
 * Large tablets = 1200px+ wide (arbitary breakpoint, needs testing).
 */

/* Small + large tablets */
@media only screen and (min-width: 783px) {
}

/* Large tablets/desktop */
@media only screen and (min-width: 1200px) {
}