.bpa-nav {
	background-color: $color-complementary;
	float: left;
	margin: 0;
	padding: 0 ($margin-nav-bar * 1.5);
	width: 100%;
	text-align: right;
	height: 46px;

	li {
		display: inline-block;
		margin: 0 $margin-nav-bar 0 0;
		line-height: 46px;
		text-align: left;

		&:after { @include clearfix(); }
		&:last-child {
			margin-right: 0;
		}

		.bpa-button {
			border-radius: 2px;
			padding: $margin-nav-bar;
			transition: all 0.2s ease;
			vertical-align: middle;
		}
	}

	.bpa-nav-docs,
	.bpa-nav-support {
		display: none;
	}

	.bpa-nav-logo {
		background-color: $color-major;
		float: left;
		padding: 0 $margin-nav-bar;
	}
}


// Small + large tablets
@media only screen and (min-width: 783px) {
	.bpa-nav {
		height: auto;

		li {
			line-height: 60px;
		}

		.bpa-nav-docs,
		.bpa-nav-support {
			display: inline-block;
		}

		.bpa-nav-support {
			margin-right: 60px;
		}
	}
}
