.bpa-panel {
	padding: 10px $dashboard-margin;
	margin-bottom: 10px;
	background-color: $color-primary-dark;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid $color-primary-dark;

	h1 {
		font-size: 19px;
		font-weight: 100;
		line-height: 1.6;
		margin: 0;
		color: $color-primary-contrast;
	}
}

@media only screen and (min-width: 783px) {
	.bpa-panel {
		background-color: $color-primary;
	}
}