.bpa-panel {
	padding: 20px $dashboard-margin;
	margin-bottom: 10px;
	background-color: $color-complementary;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 5px 10px 0 rgba( 0, 0, 0, 0.12);

	h1 {
		font-size: 19px;
		font-weight: 100;
		line-height: 1.6;
		margin: 0;
		color: $color-major-contrast;
	}
}

@media only screen and (min-width: 783px) {
	.bpa-panel {
		background-color: $color-major;
	}
}