.bpa-width-full {
	width: 100%;
}


/**
 * Common header/navigation.
 */

.bpa-nav {
	float: left;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		margin: 0 10px 0 0;
		line-height: 60px;

		.bpa-button {
			border: 2px solid $color-major-contrast;
			border-radius: 3px;
			padding: 5px;
			transition: all 0.3s ease;
			vertical-align: middle;
		}
	}

	.bpa-header-logo {
		margin-right: 0;
		padding-left: 15px;
		width: 200px;
	}
}
