$color-primary: #FD5400;
$color-primary-contrast: #1E1E1E;

$color-secondary: #D84800;  // BP Red. Don't change this colour.
$color-secondary-contrast: #FFF;

$color-background: #FAFAFA;
$color-background-link: #D84800;

$color-heading: #555;
$color-subheading: #727272;
$color-body: #212121;