$font-size-header-nav: 12px;
$font-size-header-logo: 20px;

.bpa-nav-logo:before {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bpa-header,
.bpa-header a {
	color: $color-major-contrast;
}

.bpa-nav-logo {
	a {
		font-size: $font-size-header-logo;
		text-decoration: none;
		vertical-align: middle;
	}

	&:before {
		content: "\f448";
		font: normal 30px/1 'dashicons';
		vertical-align: middle;
	}
}

.bpa-button {
	color: $color-major-contrast;
	font-size: $font-size-header-nav;
	text-decoration: none;

	&:hover {
		background-color: $color-major-contrast;
		color: $color-complementary;
		border-bottom: 0 !important;
	}
}

.bpa-button-activity {
	h3 {
		text-transform: uppercase;
	}
}