.bp-admin {
	-webkit-font-smoothing: antialiased;
}

.bpa-header,
.bpa-header a {
	color: $color-major-contrast;
}

.bpa-header-logo {
	a {
		font-size: 20px;
		text-decoration: none;
		vertical-align: middle;
	}

	&:before {
		content: "\f448";
		font: normal 30px/1 'dashicons';
		vertical-align: middle;
	}
}

.bpa-button {
	color: $color-major-contrast;
	text-decoration: none;

	&:hover {
		background-color: $color-major-contrast;
		color: $color-major;
	}
}