*,
*:before,
*:after {
	box-sizing: border-box;
}

#wpcontent {
	margin-left: 160px;
	padding: 0;
}

#wpfooter {
	display: none;
}

#wpbody {
	background-color: $color-background;
}

#wpbody-content {
	background-color: $color-major;
}