*,
*:before,
*:after {
	box-sizing: border-box;
}

#wpcontent {
	margin-left: 160px;
	padding: 0;
}

#wpfooter {
	display: none;
}

#wpbody {
	background-color: $color-background;
}

// Small
@media screen and (max-width: 782px) {
	.auto-fold #wpcontent {
		padding-left: 0;
	}
}